@font-face {
    font-family: 'knockout_htf28-juniorfeatheRg';
    src: url('../../fonts/knockout/knockout-htf28-juniorfeatherwt-webfont.eot');
    src: url('../../fonts/knockout/knockout-htf28-juniorfeatherwt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/knockout/knockout-htf28-juniorfeatherwt-webfont.woff2') format('woff2'),
         url('../../fonts/knockout/knockout-htf28-juniorfeatherwt-webfont.woff') format('woff'),
         url('../../fonts/knockout/knockout-htf28-juniorfeatherwt-webfont.ttf') format('truetype'),
         url('../../fonts/knockout/knockout-htf28-juniorfeatherwt-webfont.svg#knockout_htf28-juniorfeatheRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cgbehemothsecdmedium';
    src: url('../../fonts/cgbehemothsecd/cgbehemothsecd-webfont.eot');
    src: url('../../fonts/cgbehemothsecd/cgbehemothsecd-webfont.eot') format('embedded-opentype'),
         url('../../fonts/cgbehemothsecd/cgbehemothsecd-webfont.woff2') format('woff2'),
         url('../../fonts/cgbehemothsecd/cgbehemothsecd-webfont.woff') format('woff'),
         url('../../fonts/cgbehemothsecd/cgbehemothsecd-webfont.ttf') format('truetype'),
         url('../../fonts/cgbehemothsecd/cgbehemothsecd-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}