@import "inc/globals/css/fonts.css";

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{background:transparent;border:0;margin:0;padding:0;vertical-align:baseline}
body{line-height:1}
h1,h2,h3,h4,h5,h6{clear:both;font-weight:400}
ol,ul{list-style:none}
blockquote{quotes:none}
blockquote:before,blockquote:after{content:'';content:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
a {text-decoration: none;}
a img{border:none}
*,:before,:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}


/* Layout */
body {background: url(images/bg.jpg) center top / cover;  font-family: 'knockout_htf28-juniorfeatheRg';
}
#wrapper {width: 100%}
#main {
  margin-bottom: 40px;
  padding-top: 70px;
}
#header {
  background: rgba(0,0,0,1) none repeat scroll 0 0;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 9000;
  transition: all 0.3s ease 0s;
}
#header_wrap.scrolling {background: rgba(0,0,0,.7);transition: all 0.3s ease 0s;}
#header .inner, .featured .inner, .secondary_menu .inner  {max-width: 1020px; margin: 0 auto;}
.logo {
  float: left;
  width: 15%;
}
.logo img {
	width: 130px;
	height: auto;
	transition: all 0.3s ease 0s;
}
#header_wrap.scrolling .logo img {
  height: auto;
  width: 93px;
  transition: all 0.3s ease 0s;
}
.menu_wrap {
  float: left;
  width: 85%;
}
.menu {
  display: table;
  width: 100%;
  height: 50px;
  transition: all 0.3s ease 0s;
}
#header_wrap.scrolling .menu {
	height: 35px;
	transition: all 0.3s ease 0s;
}
.menu > li {
  display: table-cell;
  font-size: 28px;
  text-align: center;
  vertical-align: middle;
  width: 25%;
}
.menu a {
  color: #fbf9e1;
}
.menu a:hover {
  border-top: 5px solid #b91923;
  padding-top: 15px;
  transition: all 0.3s ease 0s;
}
#header_wrap.scrolling .menu a:hover {
  padding-top: 7px;
  transition: all 0.3s ease 0s;
}
.secondary_menu {
  background: rgba(0, 0, 0, 0) url("images/bg-secondarymenu.jpg") repeat scroll 0 0;
  margin-top: 70px;
  position: fixed;
  width: 100%;
  z-index: 90000;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}
.secondary_menu.loaded {opacity: 1;transition: all 0.3s ease 0s;visibility: visible;}
#header_wrap.scrolling .secondary_menu {margin-top: 50px;transition: all 0.3s ease 0s;}
.secondary_menu ul {
  margin-left: 21.7%;
}
.secondary_menu li {
  display: inline-block;
  font-size: 20px;
  padding: 5px 2.4%;
}
.secondary_menu a {
  color: #fff;
  font-size: 23px;
  text-transform: uppercase;
}


/* Homepage */
.video_banner_wrap {
  position: relative;
}
.video_banner_wrap > img {
  height: auto;
  width: 100%;
}
.vertically_aligned {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

/*
h1 {
  color: #fff;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 0 0 2px #000;
  text-transform: uppercase;
}
h2 {
  color: #fff;
  font-size: 2.5vw;
  text-shadow: 0 0 2px #000;
}
*/
h1 {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0 0 2px #000;
  text-transform: uppercase;
}
h2 {
  color: #fff;
  font-size: 40px;
  text-shadow: 0 0 2px #000;
}
.border {
  margin: 0 auto;
  max-width: 1030px;
  text-align: center;
}
.border > img {
  height: auto;
  width: 100%;
}
.video_banner_wrap {
  margin-bottom: 30px;
  position: relative;
}
.tagline {
  position: relative;
  top: -30px;
  max-width: 250px !important;
}

/* Featured boxs */
.featured {
  margin-top: -22px;
}
.featured .box {
  float: left;
  overflow: hidden;
  text-align: center;
  width: 25%;
  position: relative;
}
.box img.box-bg {width:100%;height: auto; }

.catering-button {
  bottom: 0;
  height: auto;
  left: 0;
  padding: 0 20% 7%;
  position: absolute;
  width: 100%;
}
.box.loyalty {
  position: relative;
}
.loyalty-text {
  height: auto;
  left: 6%;
  padding: 0 52% 0 0;
  position: absolute;
  top: 12%;
  transform: scale(1);
  transition: all 0.3s ease 0s;
  width: 100%;
}
.loyalty-mascot {
  height: auto;
  padding: 0 0 0 54%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.loyalty-stash {
  bottom: 0;
  height: auto;
  padding: 0 0 1% 66%;
  position: absolute;
  right: 0;
  transition: all 0.3s ease 0s;
  width: 100%;
}
.box.loyalty:hover .loyalty-stash {
  transform: skew(10deg);
	transition: all 0.3s ease 0s;  
}
.box.loyalty:hover .loyalty-text {
  left: 6%;
  position: absolute;
  top: 12%;
  transform: scale(1.1);
  transition: all 0.3s ease 0s;  
}
.review-bowl {
  bottom: 2%;
  padding: 0 0 0 40%;
  position: absolute;
  right: 0;
  width: 100%;
}
.review-social {
  bottom: 5%;
  height: auto;
  left: 5%;
  padding: 0 50% 0 0;
  position: absolute;
  width: 100%;
}
.sandwhich-text {
  position: absolute;
  right: 5%;
  top: 8%;
}


/* Footer */
#footer {
  background: #000 none repeat scroll 0 0;
  padding: 10px;
  text-align: center;
}
#footer > a {
  color: #fbf9e1;
  display: inline-block;
  font-size: 27px;
  padding: 0 3px;
}

/* Overlay style */
.switch {display: none;}
.overlay {
  background: none repeat scroll 0 0 rgba(9,35,52, 0.95);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  width: 100%;
  z-index: 400;
}
.overlay.open {
  opacity: 1;
  transition: all 0.5s ease 0s;
  visibility: visible;
  padding-top: 36px;
}
.overlay-inner {
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

